/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
  box-sizing: border-box;
  cursor: default;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  user-select: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/avenir-bold.woff") format("woff"); }

@font-face {
  font-family: "Hoefler Text";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/hoefler-text.woff") format("woff"); }

@font-face {
  font-family: "Hoefler Text";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/hoefler-text-italic.woff") format("woff"); }

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/menlo.woff") format("woff"); }

.button-row {
  /* self layout */
  margin-top: 32px;
  /* child layout */
  display: flex;
  flex-flow: row;
  justify-content: flex-end; }
  .button-row button + button {
    margin-left: 16px; }

.disabled {
  cursor: not-allowed;
  opacity: 25%; }

.fadable {
  transition: opacity 0.25s;
  opacity: 1; }
  .fadable.faded {
    opacity: 0;
    pointer-events: none; }

.h2 {
  font-family: "Hoefler Text", serif;
  font-size: 24pt; }
  @media (max-width: 568px) {
    .h2 {
      font-size: 16pt; } }
.label-row label {
  display: inline-block;
  min-width: 96px; }

.label-row + .label-row {
  margin-top: 16px; }

.missing-component {
  background: #FAFBFC;
  border: 1px dashed #BB5151;
  font-family: monospace;
  color: #DAE2ED;
  text-align: center;
  padding: 48px; }

.placeholder {
  font-family: "Avenir", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color: #DAE2ED; }

.scroll-buffer {
  height: 48px; }

form input {
  /* decoration */
  font-family: "Menlo", monospace;
  font-size: 12pt;
  border: 1px solid #2E5FA5;
  color: #2E5FA5;
  /* child layout */
  padding: 4px 8px; }

form table {
  width: 100%; }

form textarea {
  /* self layout */
  height: 96px;
  /* decoration */
  font-family: "Menlo", monospace;
  font-size: 12pt;
  border: 1px solid #2E5FA5;
  color: #2E5FA5;
  /* child layout */
  padding: 4px 8px; }

form tr td {
  /* self layout */
  padding-bottom: 16px; }
  form tr td label, form tr td input, form tr td textarea {
    width: calc(100% - 16px); }
  form tr td p.error {
    /* self layout */
    display: none;
    /* decoration */
    color: #BB5151;
    font-family: "Avenir", sans-serif;
    font-size: 11pt;
    font-weight: bold;
    /* child layout */
    padding-top: 4px; }

form tr:last-child td {
  padding-bottom: 0; }

form tr.buttons td {
  padding-top: 16px;
  text-align: right; }

form tr.error input, form tr.error textarea {
  color: #BB5151;
  border-color: #BB5151; }

form tr.error p.error {
  display: block; }

form tr.error td {
  padding-top: 16px; }

form tr.with-jump td {
  padding-top: 48px; }

a {
  font-family: "Avenir", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #2E5FA5;
  cursor: pointer; }
  a:active {
    color: #122540; }

body {
  /* self layout */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* decoration */
  font-family: "Hoefler Text", serif;
  font-size: 15pt;
  background: #FAFBFC;
  color: #122540; }
  @media (max-width: 568px) {
    body {
      font-size: 13pt; } }
  body #app {
    height: 100%;
    width: 100%; }
    body #app > * {
      height: 100%;
      width: 100%; }
      body #app > * .c-generic-page {
        height: 100%;
        width: 100%; }

button {
  /* self layout */
  height: 32px;
  min-width: 96px;
  /* self decoration */
  font-family: "Avenir", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  background: #FAFBFC;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  border: 2px solid #2E5FA5;
  color: #2E5FA5;
  cursor: pointer;
  /* child layout */
  padding: 4px 48px; }
  button:active {
    box-shadow: none; }
  button:hover {
    background: #eaeef2; }
  button.action {
    background: #2E5FA5;
    border-width: 0;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    color: #FAFBFC; }
    button.action:hover {
      background: #285491; }
  button.destructive {
    border-color: #BB5151;
    color: #BB5151; }
    button.destructive:hover {
      border: none;
      background: #BB5151;
      color: #FAFBFC; }
  button.little {
    /* self layout */
    height: 24px;
    min-width: 96px;
    /* decoration */
    font-family: "Avenir", sans-serif;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 12px;
    border-width: 1px;
    /* child layout */
    padding: 2px 4px; }

h1 {
  font-family: "Hoefler Text", serif;
  font-size: 32pt; }
  @media (max-width: 568px) {
    h1 {
      font-size: 24pt; } }
h2 {
  font-family: "Hoefler Text", serif;
  font-size: 24pt; }
  @media (max-width: 568px) {
    h2 {
      font-size: 16pt; } }
h3 {
  font-family: "Hoefler Text", serif;
  font-size: 18pt; }
  @media (max-width: 568px) {
    h3 {
      font-size: 12pt; } }
i {
  font-style: italic; }

input {
  /* decoration */
  font-family: "Menlo", monospace;
  font-size: 12pt;
  background: #FFFFFF;
  border: 1px solid #DAE2ED;
  color: #122540;
  /* child layout */
  padding: 4px; }
  input.display-only {
    /* decoration */
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: default;
    /* child layout */
    padding-left: 0; }
    input.display-only:focus {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      color: #122540; }
  input:focus {
    border-color: #2E5FA5;
    color: #2E5FA5; }

label {
  font-family: "Hoefler Text", serif;
  font-size: 15pt; }
  @media (max-width: 568px) {
    label {
      font-size: 13pt; } }
p {
  line-height: 1.25em; }
  p + p {
    margin-top: 48px; }

pre {
  font-family: "Menlo", monospace;
  font-size: 12pt;
  overflow-x: auto; }

ul {
  /* self layout */
  margin: 16px 0 48px 0;
  /* decoration */
  list-style-type: disc;
  list-style-position: outside; }
  ul li {
    margin-left: 48px; }
    ul li + li {
      margin-top: 4px; }
  ul.simple {
    list-style-type: none; }
    ul.simple li {
      margin-left: 0; }
